In [1]:

# Q1
# Find the second largest number without sort()
def second_largest(lst):
    first = second = float('-inf')
    for num in lst:
        if num > first:
            second = first
            first = num
        elif first > num > second:
            second = num
    return second

print(second_largest([10, 20, 4, 45, 99]))

45

In [2]:
# Q2
# Remove duplicates without set() and sort
def remove_duplicates(lst):
    result = []
    for item in lst:
        if item not in result:
            result.append(item)
    return sorted(result)

print(remove_duplicates([4, 5, 2, 2, 3, 4, 1]))

[1, 2, 3, 4, 5]

In [3]:
# Q3
# Sum and average of a list
def sum_and_average(lst):
    total = sum(lst)
    avg = total / len(lst)
    return total, avg

print(sum_and_average([10, 20, 30, 40]))

(100, 25.0)

In [4]:
# Q4
# Check if number is prime
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

print(is_prime(17))

True

In [5]:
# Q5
# Count vowels, consonants, digits, and special characters
def count_elements(s):
    vowels = "aeiouAEIOU"
    v = c = d = sc = 0
    for ch in s:
        if ch.isdigit():
            d += 1
        elif ch.isalpha():
            if ch in vowels:
                v += 1
            else:
                c += 1
        else:
            sc += 1
    return v, c, d, sc

print(count_elements("Hello World! 123"))

(3, 7, 3, 3)

In [6]:
# Q6
# Even numbers between 1 and 100
for i in range(2, 101, 2):
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [8]:
# Q7
# Multiplication table
n = int(input("Enter number: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

Enter number:  6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [9]:
# Q8
# Numbers divisible by both 3 and 5
print([i for i in range(1, 101) if i % 3 == 0 and i % 5 == 0])

[15, 30, 45, 60, 75, 90]

In [10]:
# Q9
# Reverse a number
n = int(input("Enter a number: "))
print(str(n)[::-1])

Enter a number:  5

5

In [11]:
# Q10
# Frequency of characters
def char_frequency(s):
    freq = {}
    for ch in s:
        freq[ch] = freq.get(ch, 0) + 1
    return freq

print(char_frequency("hello world"))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [12]:
# Q11
# Generate first n prime numbers
def generate_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        if all(num % p != 0 for p in primes):
            primes.append(num)
        num += 1
    return primes

print(generate_primes(10))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [13]:
# Q12
# Check if a number is a palindrome
def is_palindrome(n):
    return str(n) == str(n)[::-1]

print(is_palindrome(121))

True

In [14]:

# Q13
# Count specific element in a list
def count_occurrences(lst, elem):
    return lst.count(elem)

print(count_occurrences([1,2,3,4,2,2,5], 2))

3

In [15]:
# Q14
# Squares of even numbers between 1 and 50
print([i**2 for i in range(1, 51) if i % 2 == 0])

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500]

In [16]:
# Q15
# Return list with unique elements (preserve order)
def unique_list(lst):
    seen = set()
    result = []
    for i in lst:
        if i not in seen:
            seen.add(i)
            result.append(i)
    return result

print(unique_list([1,2,2,3,4,4,5]))

[1, 2, 3, 4, 5]

In [17]:
# Q16
def is_even(n):
    return n % 2 == 0

print(is_even(4))

True

In [18]:
# Q17
def cumulative_sum(lst):
    total = 0
    result = []
    for num in lst:
        total += num
        result.append(total)
    return result

print(cumulative_sum([1,2,3,4]))

[1, 3, 6, 10]

In [19]:
# Q18
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

print(factorial(5))

120

In [20]:
# Q19
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b

fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [21]:
# Q20
def is_palindrome_string(s):
    return s == s[::-1]

print(is_palindrome_string("madam"))

True

In [22]:
# Q21
def max_min(lst):
    return max(lst), min(lst)

print(max_min([1, 2, 3, 4, 5]))

(5, 1)

In [23]:
# Q22
import string

def is_pangram(s):
    return set(string.ascii_lowercase) <= set(s.lower())

print(is_pangram("The quick brown fox jumps over a lazy dog"))

True

In [24]:
# Q23
def primes_in_range(start, end):
    return [x for x in range(start, end+1) if is_prime(x)]

print(primes_in_range(10, 50))

[11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [25]:
# Q24
def count_case(s):
    upper = sum(1 for c in s if c.isupper())
    lower = sum(1 for c in s if c.islower())
    return upper, lower

print(count_case("Hello World"))

(2, 8)

In [26]:
# Q25
def sum_of_digits(n):
    return sum(int(d) for d in str(n))

print(sum_of_digits(1234))

10

In [27]:
# Q26
def count_words(sentence):
    return len(sentence.split())

print(count_words("This is a sample sentence."))

5

In [28]:
# Q27
import string

def remove_punctuation(s):
    return ''.join(c for c in s if c not in string.punctuation)

print(remove_punctuation("Hello, world! It's a great day."))

Hello world Its a great day

In [29]:
# Q28
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

print(gcd(54, 24))

6

In [30]:
# Q29
def duplicates(lst):
    return [x for x in set(lst) if lst.count(x) > 1]

print(duplicates([1,2,2,3,4,4,5]))

[2, 4]

In [31]:
# Q30
def largest_of_three(a, b, c):
    return max(a, b, c)

print(largest_of_three(5, 9, 2))

9

In [32]:
# Q31
sentence = "this is a test"
words = sentence.split()
words.sort()
print(" ".join(words))

a is test this

In [33]:
# Q32
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [34]:
# Q33
def vowels_in_words(sentence):
    words = sentence.split()
    vowels = "aeiouAEIOU"
    return {word: sum(1 for c in word if c in vowels) for word in words}

print(vowels_in_words("Hello world this is Python"))

{'Hello': 2, 'world': 1, 'this': 1, 'is': 1, 'Python': 1}

In [35]:
# Q34
tup = (1, 2, 3)
lst = list(tup)
print(lst)

[1, 2, 3]

In [36]:
# Q35
def remove_whitespace(s):
    return s.replace(" ", "")

print(remove_whitespace(" a b c d "))

abcd

In [37]:
# Q36
keys = ["a", "b", "c"]
values = [1, 2, 3]
merged = dict(zip(keys, values))
print(merged)

{'a': 1, 'b': 2, 'c': 3}

In [38]:
# Q37
d = {"a": 5, "b": 9, "c": 3}
max_key = max(d, key=d.get)
print(max_key)

b

In [39]:
# Q38
sentence = "hello hello world"
words = sentence.split()
freq = {word: words.count(word) for word in words}
print(freq)

{'hello': 2, 'world': 1}

In [40]:
# Q39
d = {"a": 1, "b": 2}
print("a" in d)

True

In [41]:
# Q40
def replace_vowels(s):
    return ''.join('*' if c.lower() in 'aeiou' else c for c in s)

print(replace_vowels("Hello World"))

H*ll* W*rld

In [ ]:
# Q41
with open("sample.txt", "r") as file:
    print(file.read())

In [ ]:
# Q42
with open("sample.txt", "r") as file:
    words = file.read().split()
    print(len(words))

In [ ]:
# Q43
with open("sample.txt", "r") as src, open("copy.txt", "w") as dest:
    dest.write(src.read())

In [ ]:
# Q44
with open("sample.txt", "r") as file:
    for line in file:
        if len(line) > 50:
            print(line.strip())

In [46]:
# Q45
lines = ["Hello", "World", "Python"]
with open("output.txt", "w") as file:
    for line in lines:
        file.write(line + "\n")

In [44]:
# Q46
try:
    a = int(input("Enter numerator: "))
    b = int(input("Enter denominator: "))
    print(a / b)
except ZeroDivisionError:
    print("Cannot divide by zero!")

Enter numerator:  5
Enter denominator:  9

0.5555555555555556

In [47]:
# Q47
try:
    num = int(input("Enter a number: "))
except ValueError:
    print("Invalid input! Please enter a number.")

Enter a number:  5

In [48]:
# Q48
try:
    with open("nonexistent.txt", "r") as f:
        print(f.read())
except FileNotFoundError:
    print("File not found!")

File not found!

In [49]:
# Q49
lst = [1, 2, 3]
try:
    print(lst[5])
except IndexError:
    print("Index out of range!")

Index out of range!

In [50]:
# Q50
try:
    print("In try block")
    1 / 0
except ZeroDivisionError:
    print("Exception occurred")
finally:
    print("Finally block executed")

In try block
Exception occurred
Finally block executed